#card{
    margin-top: 20px;
}
.shadow{
    padding-left: 10px;
    margin-top: 20px;
    margin: 60px;
}
#fst{
    margin-top: 20px;
    padding-top: 60px;
    padding-left: 40px;
    size: 80px;
}
#fist{
    margin-top: 20px;
    padding-top: 20px;
}
.float-center{
    font-family: "PT Serif script=latin rev=1";
    font-weight: 500;
    font-style: italic;
}